.custom-header-container {
    display: grid;
    justify-items: center;
    font-size: 50px;
}

.custom-header-sub {
    display: grid;
    justify-items: center;
    font-size: 15px;
    padding-top: 5px;
}

.custom-body-container {
    display: grid;
    justify-items: center;
    text-align: center;
    padding: 25px;
    font-size: 25px;
}