<div class="custom-header">
    <h1>ADD</h1>
</div>

<div class="custom-form">
    <form [formGroup]="form">
        <table>
            <tr>
                <td class="custom-table-content">Upload File</td>
                <td class="custom-table-colon">:</td>
                <td class="custom-size">
                    <ng-container *ngIf="!imageUrl; else imagePreview">
                        <div>
                          <img src="/assets/images/imagePlaceholder.jpg" width="200px" height="200px">
                        </div>
                    </ng-container>
                    <ng-template #imagePreview>
                    <div>
                        <img [src]="imageUrl" width="200px" height="200px">
                    </div>
                    </ng-template>
                    &nbsp;
                    <input type="file" formControlName="file" #uploadFile (change)="onFileAdded($event)">
                </td>
            </tr>
            <tr>
                <td class="custom-table-content">Listing Name</td>
                <td class="custom-table-colon">:</td>
                <td>
                    <mat-form-field class="custom-form-field">
                        <input matInput placeholder="What are you giving away" formControlName="listingName" >
                        <mat-error *ngIf="form.get('listingName')?.invalid">
                            Listing name should contain at least 2 characters.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td class="custom-table-content">Description</td>
                <td class="custom-table-colon">:</td>
                <td>
                    <mat-form-field class="custom-form-field">
                        <textarea matInput placeholder="Briefly describe your item" formControlName="description"></textarea>
                        <mat-error *ngIf="form.get('description')?.invalid">
                            Username should be between 4 to 15 characters.
                        </mat-error>
                    </mat-form-field>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <button mat-button
                            [disabled]="form.invalid"
                            (click)="upload()">
                            Submit
                    </button>
                    <button mat-button
                            (click)="clearForm()">
                            Reset form
                    </button>
                    <button mat-button
                            [routerLink]="['/find']">Cancel</button>
                </td>
            </tr>
        </table>
    </form>
</div>